.Content {
    display: block;
    font-family: Monaco, monospace;;
    height: 100px;
    margin: 20px;
    padding: 20px;
}

.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: black;
}

.p {
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: square;
}

a {
    color: hotpink;
}

a:visited {
    color: hotpink;
}

a:hover {
    background-color: yellow;
}

a:active {
    color: blue;
}